body{
 


font-family: "Poppins", sans-serif;
text-align: center;


 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;




 background-image: url('images/casino.jpg');
 background-size: cover;


}




h1{
    color: rgb(176, 129, 1);

    font-size: 70px;
}

h2,h3{

    color: white;
    font-style: italic;
    font-weight: bolder;
}

button{

 color: black;
   
   font-family: "Poppins", sans-serif;
    font-size: 30px;
      font-weight: bold;
      width: 250px;
      border-radius: 5px;


     margin-top: 20px;
      
}


#btn1{

background-color: rgb(176, 129, 1);
}


#btn2
{

    background-color: brown;

}
